<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Profiles</key>
	<dict>
		<key>5477847E-CC39-465A-9140-1DD3A45E7307</key>
		<dict>
			<key>AuthenticationProperties</key>
			<dict>
				<key>AcceptEAPTypes</key>
				<array>
					<integer>25</integer>
				</array>
				<key>TLSTrustedCertificates</key>
				<array>
					<data>
					MIIENjCCAx6gAwIBAgIBATANBgkqhkiG9w0B
					AQUFADBvMQswCQYDVQQGEwJTRTEUMBIGA1UE
					ChMLQWRkVHJ1c3QgQUIxJjAkBgNVBAsTHUFk
					ZFRydXN0IEV4dGVybmFsIFRUUCBOZXR3b3Jr
					MSIwIAYDVQQDExlBZGRUcnVzdCBFeHRlcm5h
					bCBDQSBSb290MB4XDTAwMDUzMDEwNDgzOFoX
					DTIwMDUzMDEwNDgzOFowbzELMAkGA1UEBhMC
					U0UxFDASBgNVBAoTC0FkZFRydXN0IEFCMSYw
					JAYDVQQLEx1BZGRUcnVzdCBFeHRlcm5hbCBU
					VFAgTmV0d29yazEiMCAGA1UEAxMZQWRkVHJ1
					c3QgRXh0ZXJuYWwgQ0EgUm9vdDCCASIwDQYJ
					KoZIhvcNAQEBBQADggEPADCCAQoCggEBALf3
					GjPm8gAELTngTlvtH7xsD821+iO2zt6bETOX
					pClMfZOfvUq8k+0DGuOPz+VtUFrWlymUWoCw
					SXrbLpX9uMq/NzgtHj6RQa1wVsfwTz/oMp50
					ysiQVOnGXw94nZpAPA6sYapeFI+eh6FqUNzX
					mk6vBbOmcZSccbNQYArHE504B4YCqOmoaSYY
					kKtMsE8jqzpPhNjfzp/haW+710LXa0Tkx63u
					bUFfclpxCDezeWWkWaCUN/cALw3CknLa0Dhy
					2xSoRcRdKn23tNbE7qzNE0S3ySvdQwAl+mG5
					aWpYIxG3pzOPVnVZ9c0p10a3CitlttNCbxWy
					uHv77+ldU9U0WicCAwEAAaOB3DCB2TAdBgNV
					HQ4EFgQUrb2YejS0Jvf6xCZU7wO94CTLVBow
					CwYDVR0PBAQDAgEGMA8GA1UdEwEB/wQFMAMB
					Af8wgZkGA1UdIwSBkTCBjoAUrb2YejS0Jvf6
					xCZU7wO94CTLVBqhc6RxMG8xCzAJBgNVBAYT
					AlNFMRQwEgYDVQQKEwtBZGRUcnVzdCBBQjEm
					MCQGA1UECxMdQWRkVHJ1c3QgRXh0ZXJuYWwg
					VFRQIE5ldHdvcmsxIjAgBgNVBAMTGUFkZFRy
					dXN0IEV4dGVybmFsIENBIFJvb3SCAQEwDQYJ
					KoZIhvcNAQEFBQADggEBALCb4IUlwtYj4g+W
					BpKdQZic2YR5gdkeWxQHIzZlj7DYd7usQWxH
					YINRsPkyPef89iYTx4AWpb9a/IfPeHmJIZri
					TAcKhjW88t5RxNKWt9x+Tu5w/Rw56wwCURQt
					jr0W4MHfRnXnJK3s9EK0hZNwEGe6nQY1ShjT
					K3rMUUKhemPR5ruhxSvCNr4TDea9Y355e6cJ
					DUCrat2PisP29owaQgVR1EX1n6diIWgVIEM8
					med8vSTYqZEXc4g/VhsxOBi0cQ+azcgOno4u
					G+GMmIPLHzHxREzGBHNJdmAPx/i9F4BrLunM
					TA5amnkPIAou1Z5jJh5VkpTYghdae9C8x49O
					hgQ=
					</data>
					<data>
					MIIEwzCCA6ugAwIBAgIQf3HB06ImsNKxE/Pm
					gWdkPjANBgkqhkiG9w0BAQUFADBvMQswCQYD
					VQQGEwJTRTEUMBIGA1UEChMLQWRkVHJ1c3Qg
					QUIxJjAkBgNVBAsTHUFkZFRydXN0IEV4dGVy
					bmFsIFRUUCBOZXR3b3JrMSIwIAYDVQQDExlB
					ZGRUcnVzdCBFeHRlcm5hbCBDQSBSb290MB4X
					DTEwMTIwNzAwMDAwMFoXDTIwMDUzMDEwNDgz
					OFowUTELMAkGA1UEBhMCVVMxEjAQBgNVBAoT
					CUludGVybmV0MjERMA8GA1UECxMISW5Db21t
					b24xGzAZBgNVBAMTEkluQ29tbW9uIFNlcnZl
					ciBDQTCCASIwDQYJKoZIhvcNAQEBBQADggEP
					ADCCAQoCggEBAJd8x8j+s+kgaqOkT46ONFYG
					s3psqhCbSGErNpBp4zQKR6e7e96qavvrgpWP
					yh1/r3WmqEzaIGdhGg2GwcrBh6+sTuTeYhsv
					nbGYr8YB+xdw26wUWexvPzN/ppgL5OI4r/V/
					hW0OdASd9ieGx5uP53EqCPQDAkBjJH1AV49U
					4FR+thNIYfHezg69tvpNmLLZDY15puCqzQyR
					mqXfq3O7yhR4XEcpocrFup/H2mD3/+d/8tna
					oS0PSRan0wCSz4pH2U341ZVm03T5gGMAT0yE
					Fh+z9SQfoU7e6JXWsgsJiyxrx1wvjGPJmctS
					sWJ7cwFif2Ns2Gig7mqojR8p89AYrK0CAwEA
					AaOCAXcwggFzMB8GA1UdIwQYMBaAFK29mHo0
					tCb3+sQmVO8DveAky1QaMB0GA1UdDgQWBBRI
					T1r6L0qaXuBQ82t7VaXe9b40XTAOBgNVHQ8B
					Af8EBAMCAQYwEgYDVR0TAQH/BAgwBgEB/wIB
					ADARBgNVHSAECjAIMAYGBFUdIAAwRAYDVR0f
					BD0wOzA5oDegNYYzaHR0cDovL2NybC51c2Vy
					dHJ1c3QuY29tL0FkZFRydXN0RXh0ZXJuYWxD
					QVJvb3QuY3JsMIGzBggrBgEFBQcBAQSBpjCB
					ozA/BggrBgEFBQcwAoYzaHR0cDovL2NydC51
					c2VydHJ1c3QuY29tL0FkZFRydXN0RXh0ZXJu
					YWxDQVJvb3QucDdjMDkGCCsGAQUFBzAChi1o
					dHRwOi8vY3J0LnVzZXJ0cnVzdC5jb20vQWRk
					VHJ1c3RVVE5TR0NDQS5jcnQwJQYIKwYBBQUH
					MAGGGWh0dHA6Ly9vY3NwLnVzZXJ0cnVzdC5j
					b20wDQYJKoZIhvcNAQEFBQADggEBAJNmIYB0
					RYVLwqvOMrAp/t3f1iRbvwNqb1A+DhuzDYij
					W+7EpBI7Vu8Gf89/IZVWO0Ex/uGqk9KV85UN
					PEerylwmrT7x+Yw0bhG+9GfjAkn5pnx7ZCXd
					F0byUOPjCiE6SSTNxoRlaGdosEUtR5nNnKuG
					KRFy3NacNkN089SXnlag/l9AWNLV1358xY4a
					sgRckmYOha0uBs7Io9jrFCeR3s8XMIFTtmYS
					rTfk9e+WXCAONumsYn0ZgYr1kGGmSavOPN/m
					ymTugmU5RZUWukEGAJi6DFZh5MbGhgHPZqki
					KQLWPc/EKo2Z3vsJFJ4O0dXG14HdrSSrrAcF
					4h1ow3BmX9M=
					</data>
				</array>
				<key>TLSTrustedServerNames</key>
				<array>
					<string>wireless.osu.edu</string>
				</array>
			</dict>
			<key>Information</key>
			<dict>
				<key>com.apple.mcx.configurationprofiles.8021X</key>
				<dict>
					<key>PayloadUUID</key>
					<string>b28f19e5087c0ee51edd7544cbb901f6</string>
				</dict>
			</dict>
			<key>UserDefinedName</key>
			<string>OSU_Secure_Network_Access_for_WiFi</string>
			<key>WLAN</key>
			<dict>
				<key>SSID</key>
				<data>
				b3N1d2lyZWxlc3M=
				</data>
				<key>SecurityType</key>
				<string>WPA</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
