<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DOSCodePage</key>
	<string>437</string>
	<key>NetBIOSName</key>
	<string>MACBOOKAIR-E6D7</string>
	<key>ServerDescription</key>
	<string>Sara’s MacBook Air</string>
</dict>
</plist>
