<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AirPortGlobalDebug</key>
	<integer>0</integer>
	<key>AirPortUserLandDebug</key>
	<integer>0</integer>
	<key>RememberedNetworks</key>
	<array>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>LastConnected</key>
			<date>2015-03-05T12:08:26Z</date>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			dXY2Nzk=
			</data>
			<key>SSIDString</key>
			<string>uv679</string>
			<key>SecurityType</key>
			<string>WPA2 Personal</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>LastConnected</key>
			<date>2015-03-05T14:55:53Z</date>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			V2lGaUBPU1U=
			</data>
			<key>SSIDString</key>
			<string>WiFi@OSU</string>
			<key>SecurityType</key>
			<string>Open</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>LastConnected</key>
			<date>2015-03-05T15:54:11Z</date>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			b3N1d2lyZWxlc3M=
			</data>
			<key>SSIDString</key>
			<string>osuwireless</string>
			<key>SecurityType</key>
			<string>WPA/WPA2 Enterprise</string>
			<key>SystemMode</key>
			<false/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			MldJUkUzNjE=
			</data>
			<key>SSIDString</key>
			<string>2WIRE361</string>
			<key>SecurityType</key>
			<string>WPA/WPA2 Personal</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			Y2hlbndpZmk=
			</data>
			<key>SSIDString</key>
			<string>chenwifi</string>
			<key>SecurityType</key>
			<string>WPA2 Personal</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>LastConnected</key>
			<date>2014-11-10T17:06:01Z</date>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			SGFwcGluZXNzIGlzIEhvbWU=
			</data>
			<key>SSIDString</key>
			<string>Happiness is Home</string>
			<key>SecurityType</key>
			<string>WPA2 Personal</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<true/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			UGVyZXogRGlhei1ndWVzdA==
			</data>
			<key>SSIDString</key>
			<string>Perez Diaz-guest</string>
			<key>SecurityType</key>
			<string>Open</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			MldJUkU1ODY=
			</data>
			<key>SSIDString</key>
			<string>2WIRE586</string>
			<key>SecurityType</key>
			<string>WPA/WPA2 Personal</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>LastConnected</key>
			<date>2014-12-11T22:34:57Z</date>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			57qm5ZCX
			</data>
			<key>SSIDString</key>
			<string>约吗</string>
			<key>SecurityType</key>
			<string>WPA2 Personal</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<true/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			QmVsbGFnaW9XaUZp
			</data>
			<key>SSIDString</key>
			<string>BellagioWiFi</string>
			<key>SecurityType</key>
			<string>Open</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			QmVsbGFnaW8tUm9vbXMtQ294
			</data>
			<key>SSIDString</key>
			<string>Bellagio-Rooms-Cox</string>
			<key>SecurityType</key>
			<string>Open</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			VW5pdGVkX1dpLUZp
			</data>
			<key>SSIDString</key>
			<string>United_Wi-Fi</string>
			<key>SecurityType</key>
			<string>Open</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			QldNb250ZXJleVBhcmtJbm4=
			</data>
			<key>SSIDString</key>
			<string>BWMontereyParkInn</string>
			<key>SecurityType</key>
			<string>Open</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			QldJbm5vZlRlbXBl
			</data>
			<key>SSIDString</key>
			<string>BWInnofTempe</string>
			<key>SecurityType</key>
			<string>Open</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			QlcgRGVBbnphIElubg==
			</data>
			<key>SSIDString</key>
			<string>BW DeAnza Inn</string>
			<key>SecurityType</key>
			<string>Open</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			QlcgWW9zZW1pdGUgV2F5IFN0YXRpb24=
			</data>
			<key>SSIDString</key>
			<string>BW Yosemite Way Station</string>
			<key>SecurityType</key>
			<string>Open</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			QldMYW1wbGlnaHRlcg==
			</data>
			<key>SSIDString</key>
			<string>BWLamplighter</string>
			<key>SecurityType</key>
			<string>Open</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			QldQbHVzQmF5c2lkZUhvdGVs
			</data>
			<key>SSIDString</key>
			<string>BWPlusBaysideHotel</string>
			<key>SecurityType</key>
			<string>Open</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			QmVzdCBXZXN0ZXJuIFNhbiBNYXRlbyBXaUZp
			</data>
			<key>SSIDString</key>
			<string>Best Western San Mateo WiFi</string>
			<key>SecurityType</key>
			<string>Open</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			QXZpdmEgV2lGaQ==
			</data>
			<key>SSIDString</key>
			<string>Aviva WiFi</string>
			<key>SecurityType</key>
			<string>Open</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			RmlyZSBTaWduIENhZmU=
			</data>
			<key>SSIDString</key>
			<string>Fire Sign Cafe</string>
			<key>SecurityType</key>
			<string>Open</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			YmlnYW1lcmljYTExNA==
			</data>
			<key>SSIDString</key>
			<string>bigamerica114</string>
			<key>SecurityType</key>
			<string>WPA Personal</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			bHVsdWJhcmd1ZXN0
			</data>
			<key>SSIDString</key>
			<string>lulubarguest</string>
			<key>SecurityType</key>
			<string>WPA/WPA2 Personal</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			QmVzdCBXZXN0ZXJuIFdvb2RsYW5kIEhpbGxz
			</data>
			<key>SSIDString</key>
			<string>Best Western Woodland Hills</string>
			<key>SecurityType</key>
			<string>WPA2 Personal</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			MTg1MA==
			</data>
			<key>SSIDString</key>
			<string>1850</string>
			<key>SecurityType</key>
			<string>WPA/WPA2 Personal</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			TGl0dGxlIEtvcmVhX0d1ZXN0IDVH
			</data>
			<key>SSIDString</key>
			<string>Little Korea_Guest 5G</string>
			<key>SecurityType</key>
			<string>WPA2 Personal</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>LastConnected</key>
			<date>2015-01-19T02:42:47Z</date>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			Q2hlY2ttYXRl
			</data>
			<key>SSIDString</key>
			<string>Checkmate</string>
			<key>SecurityType</key>
			<string>WPA2 Personal</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>LastConnected</key>
			<date>2015-02-25T21:28:33Z</date>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			ZWR1cm9hbQ==
			</data>
			<key>SSIDString</key>
			<string>eduroam</string>
			<key>SecurityType</key>
			<string>WPA2 Enterprise</string>
			<key>SystemMode</key>
			<false/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<false/>
			<key>Closed</key>
			<false/>
			<key>Disabled</key>
			<false/>
			<key>LastConnected</key>
			<date>2015-01-24T21:31:01Z</date>
			<key>Passpoint</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			SFRDIFBvcnRhYmxlIEhvdHNwb3QgRDQ1RA==
			</data>
			<key>SSIDString</key>
			<string>HTC Portable Hotspot D45D</string>
			<key>SecurityType</key>
			<string>WPA2 Personal</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
	</array>
	<key>Version</key>
	<integer>14</integer>
</dict>
</plist>
