<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrentSet</key>
	<string>/Sets/FD7A7A6F-0547-46ED-8897-8B5FB0AD2018</string>
	<key>Model</key>
	<string>MacBookAir6,2</string>
	<key>NetworkServices</key>
	<dict>
		<key>0FF7C43D-7B97-4B49-B104-A9AE6F1B8678</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>PPP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>Bluetooth-Modem</string>
				<key>Hardware</key>
				<string>Modem</string>
				<key>SubType</key>
				<string>PPPSerial</string>
				<key>Type</key>
				<string>PPP</string>
				<key>UserDefinedName</key>
				<string>Bluetooth DUN</string>
			</dict>
			<key>Modem</key>
			<dict>
				<key>ConnectionPersonality</key>
				<string>Default Personality</string>
				<key>ConnectionScript</key>
				<string>/Library/Modem Scripts/Generic Dialup.ccl</string>
				<key>DataCompression</key>
				<integer>1</integer>
				<key>DeviceModel</key>
				<string>Dialup Device</string>
				<key>DeviceVendor</key>
				<string>Generic</string>
				<key>DialMode</key>
				<string>WaitForDialTone</string>
				<key>ErrorCorrection</key>
				<integer>1</integer>
				<key>PulseDial</key>
				<integer>0</integer>
				<key>Speaker</key>
				<integer>1</integer>
			</dict>
			<key>PPP</key>
			<dict>
				<key>ACSPEnabled</key>
				<integer>0</integer>
				<key>CommDisplayTerminalWindow</key>
				<integer>0</integer>
				<key>CommRedialCount</key>
				<integer>1</integer>
				<key>CommRedialEnabled</key>
				<integer>1</integer>
				<key>CommRedialInterval</key>
				<integer>5</integer>
				<key>CommUseTerminalScript</key>
				<integer>0</integer>
				<key>DialOnDemand</key>
				<integer>0</integer>
				<key>DisconnectOnFastUserSwitch</key>
				<integer>1</integer>
				<key>DisconnectOnIdle</key>
				<integer>1</integer>
				<key>DisconnectOnIdleTimer</key>
				<integer>600</integer>
				<key>DisconnectOnLogout</key>
				<integer>1</integer>
				<key>DisconnectOnSleep</key>
				<integer>1</integer>
				<key>IPCPCompressionVJ</key>
				<integer>1</integer>
				<key>IdleReminder</key>
				<integer>0</integer>
				<key>IdleReminderTimer</key>
				<integer>1800</integer>
				<key>LCPEchoEnabled</key>
				<integer>0</integer>
				<key>LCPEchoFailure</key>
				<integer>4</integer>
				<key>LCPEchoInterval</key>
				<integer>10</integer>
				<key>Logfile</key>
				<string>/var/log/ppp.log</string>
				<key>VerboseLogging</key>
				<integer>0</integer>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Bluetooth DUN</string>
		</dict>
		<key>8899DDB5-5557-4288-94D5-8C63935270F3</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en0</string>
				<key>Hardware</key>
				<string>AirPort</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Wi-Fi</string>
			</dict>
			<key>Proxies</key>
			<dict/>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Wi-Fi</string>
		</dict>
		<key>B9B5903B-3873-408D-A079-BB639AD118D7</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en2</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Bluetooth PAN</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Bluetooth PAN</string>
		</dict>
		<key>E01EEC27-9114-40C9-A50A-E1A25D842756</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>bridge0</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Thunderbolt Bridge</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Thunderbolt Bridge</string>
		</dict>
	</dict>
	<key>Sets</key>
	<dict>
		<key>FD7A7A6F-0547-46ED-8897-8B5FB0AD2018</key>
		<dict>
			<key>Network</key>
			<dict>
				<key>Global</key>
				<dict>
					<key>IPv4</key>
					<dict>
						<key>ServiceOrder</key>
						<array>
							<string>0FF7C43D-7B97-4B49-B104-A9AE6F1B8678</string>
							<string>8899DDB5-5557-4288-94D5-8C63935270F3</string>
							<string>B9B5903B-3873-408D-A079-BB639AD118D7</string>
							<string>E01EEC27-9114-40C9-A50A-E1A25D842756</string>
						</array>
					</dict>
				</dict>
				<key>Interface</key>
				<dict>
					<key>en0</key>
					<dict>
						<key>AirPort</key>
						<dict>
							<key>JoinModeFallback</key>
							<array>
								<string>DoNothing</string>
							</array>
							<key>PowerEnabled</key>
							<true/>
							<key>RememberJoinedNetworks</key>
							<true/>
							<key>RequireAdminIBSS</key>
							<false/>
							<key>RequireAdminNetworkChange</key>
							<false/>
							<key>RequireAdminPowerToggle</key>
							<false/>
						</dict>
					</dict>
				</dict>
				<key>Service</key>
				<dict>
					<key>0FF7C43D-7B97-4B49-B104-A9AE6F1B8678</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/0FF7C43D-7B97-4B49-B104-A9AE6F1B8678</string>
					</dict>
					<key>8899DDB5-5557-4288-94D5-8C63935270F3</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/8899DDB5-5557-4288-94D5-8C63935270F3</string>
					</dict>
					<key>B9B5903B-3873-408D-A079-BB639AD118D7</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/B9B5903B-3873-408D-A079-BB639AD118D7</string>
					</dict>
					<key>E01EEC27-9114-40C9-A50A-E1A25D842756</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/E01EEC27-9114-40C9-A50A-E1A25D842756</string>
					</dict>
				</dict>
			</dict>
			<key>UserDefinedName</key>
			<string>Automatic</string>
		</dict>
	</dict>
	<key>System</key>
	<dict>
		<key>Network</key>
		<dict>
			<key>HostNames</key>
			<dict>
				<key>LocalHostName</key>
				<string>Saras-MacBook-Air</string>
			</dict>
		</dict>
		<key>System</key>
		<dict>
			<key>ComputerName</key>
			<string>Sara’s MacBook Air</string>
			<key>ComputerNameEncoding</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>VirtualNetworkInterfaces</key>
	<dict>
		<key>Bridge</key>
		<dict>
			<key>bridge0</key>
			<dict>
				<key>Interfaces</key>
				<array>
					<string>en1</string>
				</array>
				<key>Options</key>
				<dict>
					<key>__AUTO__</key>
					<string>thunderbolt-bridge</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
